$site-red: #e50b0b;

body {

    .accordion{
        a, button{
            text-decoration: none !important;
        }
        .card{
            margin-top: 0;

            .card-header{
                button{
                    color: #2e3c42 !important;
                }
            }

            .card-body{
                .tab-content{
                    margin-top: 2%;
                    margin-bottom: 1%;

                    table{
                        thead{
                            font-size: 1rem;
                        }

                        tbody{
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .card-header-tabs{
                margin-bottom: 1%;
                border-bottom: 1px solid #dee2e6;
            }
        }
    }
    .navbar {
        a {
            padding-right: 5%;
        }

        a:hover{
            color: $site-red !important;
        }

        a:focus{
            text-decoration: underline;
        }

        .navbar-nav {
            .nav-link {
                color: #ffffff !important;
                font-size: 1.2rem;
                margin-right: 10%;
            }

            .nav-link:hover {
                border: 1px solid $site-red !important;
                background-color: $site-red;
            }
        }

        form{
            button{
                color: #ffffff !important;
                background-color: $site-red;
            }
            button:hover{
                background-color: #343a40;
                border-color: $site-red !important;
            }
        }
    }

    .card {
        margin-top: 5%;

        span {
            font-weight: bold;
        }
    }

    .jumbotron {
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 3.8%;

        h1 {
            padding-top: 1%;
        }

        table {
            thead {
                font-size: 1.5rem;
            }

            tbody {
                font-size: 1.2rem;
            }
        }
    }

    header {
        align-items: center;
        justify-content: center;
        text-align: center;

        .navbar {
            .btn {
                color: $site-red;
                border-color: $site-red;
                font-weight: bold;
            }
        }

        img {
            padding: 1%;
            height: 10%;
        }

        .nav-item {
            a {
                padding-top: 5% !important;
                padding-bottom: 5% !important;
            }
        }
    }
}