$site-red: #e50b0b;

body {
    .jumbotron{
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 3.8%;
        h1{
            padding-top: 1%;
        }

        table{
            thead{
                font-size: 1.5rem;
            }
            tbody{
                font-size: 1.2rem;
            }
        }
    }

    header {
        align-items: center;
        justify-content: center;
        text-align: center;

        .navbar{
            .btn{
                color: $site-red;
                border-color: $site-red;
                font-weight: bold;
            }
        }

        img{
            padding: 1%;
            height: 10%;
        }

        .nav-item {
            a {
                padding-top: 5% !important;
                padding-bottom: 5% !important;
            }
        }
    }
}