@include media('>desktop', '<=1300px') {
    .navbar {

        form {
            margin-left: 10%;
        }

        .navbar-nav {
            margin-left: 10%;

            .nav-link {
                margin-right: 2%;
            }
        }
    }

    .trending-news {

        .news {
            h1 {
                margin-top: 15%;
                font-weight: bolder;
            }
        }

        .mapdiv {
            margin-top: -24% !important;
        }
    }

    .all-news {
        margin-top: -10%;
    }
}