.landing-page {
    .welcome {
        padding-bottom: 10%;

        // hero and call to action
        .hero {
            margin-top: 14%;

            h1 {
                color: $site-blue;
                font-family: $font-righteous;
                font-weight: bold;
                margin-bottom: 0;
                font-size: 3.5rem;
            }

            p {
                margin-top: 0;
                font-size: 1.2rem;
                color: $site-blue;
            }

            button {
                margin-top: 3%;
                border-radius: 0 50px 50px 50px;
                color: $site-bg;
                background-color: $site-blue;
                width: 50%;
                font-size: 1rem;
                padding: 3%;
                font-weight: bold;
            }

            button:hover {
                border-color: $site-blue;
                color: $site-blue;
                background-color: transparent;
            }
        }

        // map
        @import "./map.scss";
    }

    h2 {
        color: $site-blue;
        padding-bottom: 5%;
        font-weight: bolder;
    }

    // world report
    .world-report {
        margin-bottom: 7%;

        .total-report {
            padding: 2% !important;

            h3 {
                color: $site-blue-lighter;
                font-family: $font-righteous;
                padding-top: 3%;
                padding-bottom: 3%;
            }

            h5 {
                margin-bottom: 2%;
                font-weight: bold;
            }

            p {
                font-size: 0.9rem;
            }

            table,
            tr,
            td {
                border: none;

                tbody {
                    tr {
                        td {
                            list-style-type: disc;
                            list-style: none;

                            li {
                                margin-top: -2.5%;
                            }

                            li::before {
                                content: "\2022";
                                margin-right: 10%;
                                font-weight: bolder;
                                font-size: 1.2rem;
                            }
                        }

                        #active-cases {
                            li::before {
                                color: $site-orange;
                            }
                        }

                        #recovered {
                            li::before {
                                color: $site-green;
                            }
                        }

                        #deaths {
                            li::before {
                                color: $site-red-dark;
                            }
                        }
                    }
                }
            }

            #btn-see-all {
                display: flex;
                justify-content: center;

                button {
                    margin-top: 3%;
                    border-radius: 0 50px 50px 50px;
                    color: $site-blue;
                    background-color: transparent;
                    width: 60%;
                    font-size: 1rem;
                    padding: 3%;
                    border-color: $site-blue;
                }

                button:hover {
                    color: $site-bg;
                    background-color: $site-blue;
                }


            }

        }
    }

    .countries-report {
        margin-bottom: 7%;
        form {
            margin-left: 18%;
            display: flex;
            justify-content: flex-end;

            select {
                border-radius: 50px 0 0 50px;
                margin-right: 0;
                background-color: transparent;
                color: $site-blue !important;
                border-color: $site-blue;
            }

            select:focus{
                background-color: white;
            }

            button {
                border-radius: 0 50px 50px 50px;
                margin-left: -15px;
                z-index: 1;
                background-color: $site-blue;
                color: $site-bg;
                cursor: pointer;
                border-color: $site-blue-light;
            }

            button:hover {
                background-color: $site-blue-light;
                border-color: $site-blue !important;
            }
        }

        table {
            margin-top: 10%;
            border-collapse: collapse;
            width: 100%;

            th {
                background-color: $site-blue;
                color: white;

                span{
                    text-align: center;
                    margin-left: 35%;
                }
              }

            td{
                text-align: center;
            }

            th,
            td {
                border: 1px solid $site-gray;
                padding: 2%;
            }

            tr:nth-child(odd) {
                background-color: $site-gray;
            }

            tr:nth-child(even) {
                background-color: white;
            }

            td:hover {
                border: 1px solid $site-blue;
            }
        }
    }

}