svg {
    width: 100%;
    height: 100vh;
}

.mapdiv {

    path {
        fill: $site-map;
        stroke: $site-blue;
        stroke-width: 5px;
        transition: fill 0.3s;
    }
}

.mapdiv :hover {
    stroke: $site-blue;
    stroke-width: 20px;
}