.trending-news{
    text-align: center !important;

    .news{
        color: $site-blue;
        font-family: $font-righteous;
        z-index: 1 !important;

        h1{
            font-size: 4rem !important;
            margin-top: 20%;
            font-weight: bolder;
        }
    }

    .mapdiv {
        margin-top: -28% !important;
    }

    @import "./map.scss";

}

.all-news{
    margin-top: -15%;
    margin-bottom: 10%;
    .card{
        margin-bottom: 5%;
        img{
            width: 100%;
            height: 200px;
        }

        .card-title{
            line-height: 160%;
            margin-bottom: 10%;
        }

        .card-subtitle{
            font-size: 0.9rem !important;
        }

        .author{
            margin-top: 7%;
            margin-bottom: 15% !important;

            span{
                color: $site-blue-lighter;
            }
        }

        a{
            color: $site-blue-lighter;
        }
    }
}