// colors
$site-red: #e50b0b;
$site-bg: #FAFFFF;
$site-blue: #07276A;
$site-blue-light: #0AA0BD;
$site-blue-lighter: #0BC3D5;
$site-menu: #07276A;
$site-map: #AFF6FF;
$site-red-dark: #BB2626;
$site-orange: #FF9900;
$site-green: #27AA25;
$site-gray: #FBFBFB;

// fonts
$font-righteous: 'Righteous',
cursive;
$font-varela: 'Varela Round',
sans-serif;