// colors
$site-red: #e50b0b;
$site-bg: #FAFFFF;
$site-blue: #07276A;
$site-blue-light: #0AA0BD;
$site-menu: #07276A;

// fonts
$font-righteous: 'Righteous',
cursive;
$font-varela: 'Varela Round',
sans-serif;